@section css{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/annunci.css")" />
}

@section script{

}

<div id="annuncio">
    <div id="foto-container">
        @foreach (string path in (ViewData["Foto"] as ICollection<string>)) {
            <img src="@Url.Content(Path)" />
         }
    </div>

    <div class="section">Tipologia: <b>@ViewData["TipoAnnuncio"], @ViewData["TipoContratto"]</b> </div>
    <div class="section">Indirizzo: <b>@ViewData["Indirizzo"]</b> </div>
    <div class="section">Prezzo: <b>@ViewData["Valore"]€, @ViewData["TipoPagamento"]</b> </div>
    <div class="section">Disponibilità:<b> @ViewData["Da"] - @ViewData["A"]</b></div>
    <div class="section">Caratteristiche affittuario:<b>@ViewData["CaratteristicheAffittuario"]</b> </div>
    <button>Contatta</button>
    <div class="section">
        <b>Note:</b><br />
        <textarea readonly>@ViewData["Note"]</textarea>
    </div>
    <br style="clear:both" />
    <button>Segnala</button>
    <button>Preferiti</button>
</div>

